<!DOCTYPE html>
<%- include ('../partials/head.ejs') %>
<html lang="en">
  <body>
    <main>
      <section class="column">
        <h1>To Do App</h1>
        <button class="create">New Task</button>
        <%- include ('../partials/form.ejs') %>
      </section>
      <% if (todos.length > 0) { %> <% todos.forEach(todo=> { %>
      <section>
        <!-- <a class="list-item" href="<%=todo._id%>" -->
        <div class="list-item">
          <div class="completed" data-id="<%= todo._id %>" data-state="<%=todo.completed%>">
            <% if (todo.completed) { %>
            <i class="ph-fill ph-check-circle checkbtn" ></i>
            <% } else { %> <i class="ph-fill ph-circle"></i> <% } %>

          </div>
          <div class="todo-wrapper">
            <input class="todo title" value="<%= todo.title %>" readonly></input>
            <input class="todo tag" value="<%= todo.tag %>" readonly></input>
          </div>
          <div>
            <a class="edit" data-id="<%= todo._id %>">
              <i class="ph-fill ph-pencil"></i>
            </a>
            <a class="delete" data-id="<%= todo._id %>">
              <i class="ph-fill ph-trash-simple"></i>
            </a>
          </div>
        </div>
      </section>
      <% }) %> <% } else { %>
      <p>there are no todos to display...</p>
      <% } %>
    </main>
    <script type="text/javascript" src="../../main.js"></script>
  </body>
</html>
